{{- $dnsPrivateZone := .Values.wireguard.dnsPrivateZone }}
---
apiVersion: v1
kind: Secret
metadata:
  name: wireguard
type: Opaque
stringData:
  wireguard: |
    [Interface]
    PrivateKey = {{ .Values.wireguard.privateKey }}
    Address = {{ .Values.wireguard.network }}
    ListenPort = {{ .Values.wireguard.listenPort }}
    MTU = {{ .Values.wireguard.mtu }}
    PostUp = iptables -A FORWARD -i {{ .Values.wireguard.networkInterface }} -j ACCEPT ; iptables -t nat -A POSTROUTING -o {{ .Values.wireguard.networkInterface }} -j MASQUERADE
    PostDown = iptables -D FORWARD -i {{ .Values.wireguard.networkInterface }} -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ .Values.wireguard.networkInterface }} -j MASQUERADE

    {{- range $peerName, $peer := .Values.wireguard.peers }}
    # Peer: {{ $peerName }}
    [Peer]
    PublicKey = {{ default $peer.pubkey $peer.publicKey }}
    AllowedIPs = {{ default $peer.allowedIPs $peer.src }}
    {{- end }}
  coredns: |
    {{ .Values.wireguard.dnsPrivateZone }} {
      hosts /etc/coredns/private_hosts
      log
      errors
    }

    . {
      forward . {{ .Values.wireguard.dnsForward }}
      log
      errors
      cache
    }
  coredns_private_hosts: |
    {{- range $peerName, $peer := .Values.wireguard.peers }}
    {{- $ip := split "/" (default $peer.allowedIPs $peer.src) }}
    {{ $ip._0 }} {{ $peerName }}.{{ $dnsPrivateZone }}
    {{- end }}
